<template>
  <v-container id="leaseAgreement-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card color="#483D8B">
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Contrato</div>
            <div class="subtitle-1 font-weight-light">Cadastro de contrato</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="2" md="2">
                  <v-checkbox
                    name="person_or_entity"
                    v-model="leaseAgreement.person_or_entity"
                    :label="`Pessoa Física?`"
                  ></v-checkbox>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="leaseAgreement.contractor_name"
                    :counter="100"
                    label="Nome do Contratante *"
                    hint="Informe nome do Contrante"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="10" md="10">
                  <v-text-field
                    color="secondary"
                    v-model="leaseAgreement.contractor_email"
                    :counter="50"
                    label="E-mail do Contrante *"
                    hint="Informe seu endereço e-mail do Contrante"
                    :rules="[controller.service.rules.emailRules]"
                  ></v-text-field>
                </v-col>
                <v-col cols="2" md="2">
                  <v-text-field
                    color="secondary"
                    v-model="leaseAgreement.cpf_cnpj"
                    :counter="18"
                    label="CPF/CNPJ *"
                    hint="Informe o CPF ou CNPJ"
                    :rules="[controller.service.rules.required]"
                    v-mask="controller.service.maskCPF_CNPJ(leaseAgreement.cpf_cnpj)"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-select
                    v-if="leaseAgreement.property"
                    v-model="leaseAgreement.property.id"
                    no-data-text="Não existe imóvel disponível para locação"
                    :items="fullAddressesPropertiesForSelect"
                    label="Selecione o imóvel disponível *"
                    required
                    item-value="property_id"
                    item-text="fullAddress"
                    return-value
                    :rules="[controller.service.rules.required]"
                  />
                  <v-select
                    v-if="!leaseAgreement.property"
                    v-model="leaseAgreement.property_id"
                    no-data-text="Não existe imóvel disponível para locação"
                    :items="fullAddressesPropertiesForSelect"
                    label="Selecione o imóvel disponível *"
                    required
                    item-value="property_id"
                    item-text="fullAddress"
                    return-value
                    :rules="[controller.service.rules.required]"
                  />
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn
                  :disabled="!valid || loading"
                  color="info"
                  @click="action"
                >
                  {{ textBtnAction }}
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import LeaseAgreementController from "../../../app/controllers/LeaseAgreementController";
import PropertyController from "../../../app/controllers/PropertyController";

export default {
  name: "property-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    textBtnAction: "",
    controller: new LeaseAgreementController(),
    controllerProperty: new PropertyController(),
    leaseAgreement: new LeaseAgreementController().leaseAgreementModel(),
    person_or_entity: true,
    fullAddressesPropertiesForSelect: [],
  }),
  watch: {
    person_or_entity: {
      immediate: true,
      handler(newValue, oldValue) {
        this.leaseAgreement.person_or_entity = newValue;
      },
    },
  },
  created() {
    this.getPropertiesDataFromApi();
  },
  mounted() {
    if (this.$route.params.leaseAgreement) {
      this.textBtnAction = "atualizar";
      this.leaseAgreement = Object.assign(
        {},
        this.$route.params.leaseAgreement
      );
      this.setValuePersonOrEntity(this.leaseAgreement.person_or_entity);
      this.fullAddressesPropertiesForSelect.push({
        property_id: this.leaseAgreement.property.id,
        fullAddress: this.leaseAgreement.property.fullAddress
      })
    } else {
      this.textBtnAction = "cadastrar";
    }
    console.log(this.fullAddressesPropertiesForSelect);
  },
  methods: {
    voltar() {
      this.$router.go(-1);
    },

    setValuePersonOrEntity($value) {
      if ($value === "Pessoa Jurídica") {
        this.person_or_entity = false;
      }
    },

    action() {
      if (!this.$route.params.leaseAgreement) {
        this.register();
      } else {
        this.update();
      }
    },

    async getPropertiesDataFromApi() {
      this.loading = true;
      await this.controllerProperty.getAllPropertiesForSelect().then((response) => {
        this.fullAddressesPropertiesForSelect = response;
      });
      this.loading = false;
    },

    register() {
      this.loading = true;
      this.controller.register(this.leaseAgreement).then((response) => {
        if (response.status === 201) {
          this.message = "Contrato cadastrada com sucesso.";
          this.typeAlert = "info";
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar o imóvel";
        }
        this.notification = true;
        this.loading = false;
        setTimeout(
          () => this.$router.replace({ name: "lease-agreements" }),
          2000
        );
      });
    },

    update() {
      this.controller.update(this.leaseAgreement).then((response) => {
        if (response.status === 200) {
          this.message = "Contrato atualizado com sucesso.";
          this.typeAlert = "info";
        } else {
          this.message = response.message;
          this.typeAlert = "error";
        }
        this.notification = true;
      });
      setTimeout(() => this.voltar(), 2000);
    },
  },
};
</script>
