<template>
  <v-container id="lease-agreements" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card color="#483D8B">
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Contratos</div>

            <div class="subtitle-1 font-weight-light">
              Listagem de contratos firmados
            </div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="1"> </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
            <v-col cols="2">
              <v-btn color="blue" @click="newLeaseAgreement">Cadastrar</v-btn>
            </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="leaseAgreements"
            no-data-text="Não existem contrados cadastrados"
            :loading="loading"
            loading-text="Carregando..."
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
            <template v-slot:[`item.acoes`]="{ item }">
              <v-icon
                size="20"
                class="mr-2"
                color="info"
                title="Clique para EDITAR esse registro"
                @click="loadItemFromApi(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                size="20"
                color="red"
                title="Clique para EXCLUIR esse registro"
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialogDelete" max-width="600px">
      <v-card>
        <v-card-title class="headline"
          >Você realmente quer deletar esse registro?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">
            Não
          </v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm()">
            Sim
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import LeaseAgreementController from "../../../app/controllers/LeaseAgreementController";

export default {
  data: () => ({
    loading: false,
    dialog: false,
    dialogDelete: false,
    notification: false,
    typeAlert: "success",
    message: "",
    search: "",
    leaseAgreements: [],
    editedItem: {},
    controller: new LeaseAgreementController(),
    leaseAgreement: new LeaseAgreementController().leaseAgreementModel(),
    headers: [
      {
        text: "Nome do Contratante",
        value: "contractor_name",
      },
      {
        text: "E-mail do Contratante",
        value: "contractor_email",
      },
      {
        text: "Endereço Completo do Imóvel Contratado",
        value: "property.fullAddress",
      },
      {
        text: "Tipo de Pessoa",
        value: "person_or_entity",
      },
      {
        text: "Ações",
        value: "acoes",
      },
    ],
  }),
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.getDataFromApi();
  },
  methods: {
    newLeaseAgreement() {
      this.$router.push({
        name: "lease-agreements-form",
      });
    },
    getDataFromApi() {
      this.loading = true;
      this.controller.getAll().then((response) => {
        if (response.status === 200) {
          this.leaseAgreements = response.data;
        } else {
          this.typeAlert = "error";
          this.message = response.message;
        }
      });
      this.loading = false;
    },

    deleteItem(item) {
      this.editedIndex = this.leaseAgreements.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.loading = true;
      this.controller.delete(this.editedItem).then((response) => {
        if (response.status === 200) {
          this.typeAlert = "info";
          this.message = "Contrato removido com sucesso.";
        } else {
          this.typeAlert = "error";
          this.message = response.message;
        }
        this.dialogDelete = false;
        this.notification = true;

        this.getDataFromApi();

        this.loading = false;
      });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    loadItemFromApi(item) {
      this.loading = true;
      this.controller.getOne(item.id).then((response) => {
          if (response.status === 200) {
            this.editedItem = Object.assign({}, response.data);
            this.editItem();
          } else {
            this.message = response.message;
            this.typeAlert = 'error';
            this.notification = true;
          }
        });
      this.loading = false;
    },

    editItem() {
      this.$router.push({
        name: 'lease-agreements-form',
        params: {
          leaseAgreement: this.editedItem,
        },
      });
    },

  },
};
</script>
