<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="dataMovi"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="dataMovi"
        label="Data de cadastro"
        prepend-icon="mdi-calendar"
        readonly
        v-bind="attrs"
        v-on="on"
        id="dataMovi"
      ></v-text-field>
    </template>
    <v-date-picker v-model="dataMovi" no-title scrollable>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="menu = false"> Cancelar </v-btn>
      <v-btn text color="primary" @click="$refs.menu.save(dataMovi)"> OK </v-btn>
    </v-date-picker>
  </v-menu>
</template>
<script>
export default {
  name: "DatePicker",
  data: () => ({
    dataMovi: new Date().toISOString().substr(0, 10),
    menu: false,
  }),
};
</script>
