<template>
  <v-container id="property-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card color="#4B0082">
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Imóvel</div>
            <div class="subtitle-1 font-weight-light">Cadastro de imóvel</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="6" md="6">
                  </v-checkbox>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="property.owner_email"
                    :counter="50"
                    label="E-mail *"
                    hint="Informe seu endereço e-mail do Proprietário"
                    :rules="[controller.service.rules.emailRules]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="10" md="10">
                  <v-text-field
                    color="secondary"
                    v-model="property.street"
                    :counter="100"
                    label="Rua *"
                    hint="Informe nome da rua do imóvel"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="2" md="2">
                  <v-text-field
                    color="secondary"
                    v-model="property.number"
                    type="number"
                    label="Número *"
                    hint="Informe nome da rua do imóvel"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="property.neighborhood"
                    :counter="100"
                    label="Bairro *"
                    hint="Informe o bairro"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="property.complement"
                    :counter="100"
                    label="Complemento"
                    hint="Complemente o endereço"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="property.city"
                    :counter="50"
                    label="Cidade *"
                    hint="Informe a cidade"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="property.state"
                    :counter="50"
                    label="Estado *"
                    hint="Informe a estado"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="action">
                  {{ textBtnAction }}
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import PropertyController from "../../../app/controllers/PropertyController";

export default {
  name: "property-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    textBtnAction: "",
    controller: new PropertyController(),
    property: new PropertyController().propertyModel(),
  }),
  mounted() {
    if (this.$route.params.property) {
      this.textBtnAction = "atualizar";
      this.property = Object.assign({}, this.$route.params.property);
    } else {
      this.textBtnAction = "cadastrar";
    }
  },
  methods: {
    voltar() {
      this.$router.go(-1);
    },

    action() {
      if (!this.$route.params.property) {
        this.register();
      } else {
        this.update();
      }
    },

    register() {
      this.loading = true;
      this.controller.register(this.property).then((response) => {
        if (response.status === 201) {
          this.message = "Imóvel cadastrada com sucesso.";
          this.typeAlert = "info";
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao atualizar o imóvel";
        }
        this.notification = true;
        this.loading = false;
        setTimeout(() => this.$router.replace({ name: "properties" }), 2000);
      });
    },

    update() {
      this.controller.update(this.property).then((response) => {
        if (response.status === 200) {
          this.message = 'Imóvel atualizado com sucesso.';
          this.typeAlert = 'info';
        } else {
          this.message = response.message;
          this.typeAlert = 'error';
        }
        this.notification = true;
      });
      setTimeout(() => this.voltar(), 2000);
    },

  },
};
</script>
